@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Heebo&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
  font-family: 'Heebo', sans-serif;
}